.search_input__container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  justify-content: space-between;
  padding: 2px 2px 2px 5px;
  margin-top: 25px;
}


.search_input__left_side{
  display: flex;
  align-items: center;
}

.search_input {
  background: none;
}


.search_input ::placeholder {
  font-size: 30px;
}
/* // */


.search_input__btn {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 15px;
}

.search_input__search_icon{
  width: 35px;
}
