.pokemon_list__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding: 30px;
  gap: 30px;
}

/* @media (max-width: 480px) {
  .pokemon_list__container {
    padding: 10px;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    gap: 10px;
  }
  .not_found__image {
    max-width: 250px;
  }
  .not_found__subtitle {
    font-size: 15px;
  }
} */
@media (max-width: 768px) {
  .pokemon_list__container {
    padding: 10px;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    gap: 10px;
  }
  .not_found__image {
    max-width: 250px;
  }
  .not_found__subtitle {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .pokemon_list__container {
    padding: 10px;
    grid-template-columns: repeat(5, minmax(140px, 1fr));
    gap: 10px;
  }
  .not_found__image {
    max-width: 250px;
  }
  .not_found__subtitle {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .pokemon_list__container {
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  .not_found__image {
    max-width: 250px;
  }
  .not_found__subtitle {
    font-size: 15px;
  }
}
